ant.properties
build.properties
default.properties
libs/*
nbandroid/*
proguard.cfg
bin/*
build.xml
gen/*
local.properties
proguard-project.txt
project.properties
private/*
/external_librarys/facebook/bin/
/external_librarys/facebook/gen/